.status-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.status-circle.online {
    background-color: green;
}
.status-circle.offline {
    background-color: silver;
}